<!-- Man Young Oh / 301161472 / COMP229-005 -->

<div class= "container">
    <h1></h1>
    <h1>
      <%= title %> <!-- Retrieve 'title' from index.js-->
    </h1>
    <p>Welcome to the <%= title %>
    </p>
  </div>