<!-- Man Young Oh / 301161472 / COMP229-005 -->

<main>
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <div class="text-center">
                <h2 class="fw-bolder">Service</h2>
                <p class="lead fw-normal text-muted mb-5">These are the services that I may offer you.</p>
            </div>
        </div>
    </div>

    <div class="row gx-5">

        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
              <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1HP4nK3L2Krl5UYw-ez6leprHKIxEZDXr" alt="..." />
              <div class="card-body p-4">
                <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">International Marketing</h5></a>
                <p class="card-text mb-0">Some ontent.</p>
              </div>
            </div>
          </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
              <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1KmviIVwj177wLpNqxchauXtAsr6ectqB" alt="..." />
              <div class="card-body p-4">
                <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Build Website </h5></a>
                <p class="card-text mb-0">This </p>
              </div>
                
            </div>
        </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1KINiJWg1k1F2lxn7bjwp69vJSQ9axQbF" alt="..." />
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Database System Service</h5></a>
                  <p class="card-text mb-0">sdt.</p>
                </div>                
            </div>
        </div>
    </div>
  </div>
</main>
